In [8]:
import pandas as pd

In [9]:
# defines the file path and assigns it to a variable
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

# csv reader in pandas
school_file = pd.read_csv(school_csv)
student_file = pd.read_csv(student_csv)
school_file
student_file

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [23]:
# merging the two data frames on a left join using "school_name"
school_file_complete = pd.merge(student_file, school_file, how="left", on=["school_name", "school_name"])
school_file_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [18]:
# df info for debugging purposes
school_file_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

District Summary

In [19]:
# total number of unique schools
school_count = school_file_complete["school_name"].nunique()
print(school_count)

15

In [20]:
# total number of students
student_count = school_file_complete["student_name"].count()
print(student_count)

39170

In [49]:
# calculates the total budget for all 15 schools
total_budget_unique = school_file_complete["budget"].unique()
total_budget = total_budget_unique.sum()
print(total_budget)

24649428

In [32]:
average_math_score = school_file_complete["math_score"].mean()
print(average_math_score)

78.98537145774827

In [33]:
average_reading_score = school_file_complete["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [34]:
passing_math_count = school_file_complete[(school_file_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [37]:
passing_reading_count = school_file_complete[(school_file_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [38]:
passing_math_reading_count = school_file_complete[
    (school_file_complete["math_score"] >= 70) & (school_file_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [59]:
# creating a new df to show case the district metrics
district_summary = pd.DataFrame(
    {
        "Total Schools" : [school_count],
        "Total Students" : [student_count],
        "Total Budget" : [total_budget],
        "Average Math Score" : [average_math_score],
        "Average Reading Score" : [average_reading_score],
        "% Passing Math" : [passing_math_percentage],
        "% Passing Reading" : [passing_reading_percentage],
        "% Overall Passing" : [overall_passing_rate]
    }
)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [61]:
school_types = school_file_complete.set_index(["school_name"])["type"]
school_types

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [ ]:

per_school_counts =